/* Make all text 24px, headers 32px */

:root {
    --almostBlack: #111;
    /* --themeColor: #2941AB; */
    /* --themeColor: #044c6d; */
    --themeColor: #008c9e;
    --myRed: #a50f0f;
    /* --backgroundLight: #E5E7E6; */
    --backgroundDark: #222733;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* Main */
main {
    margin: 0;
    padding: 0;
    margin-left: 250px;
    height: 100%;
}

/* Mission statement */
#missionStatement {
    color: white;
    background-color: var(--backgroundDark);
    /* background-image: url(images/PictureOfMe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 1000px;
    background-position-y: -300px; */
}

#missionStatement img {
    width: 150px;
    height: auto;
    display: inline-block;
}

#missionStatement h2 {
    font-size: 32px;
    font-family: 'Heebo', Arial, sans-serif;
    font-weight: 700;
    padding: 30px;
    margin: 0;
    display: inline-block;
    line-height: 50px;
}

#span1 {
    text-decoration: underline;
    text-decoration-color: var(--themeColor);
}

#span2 {
    background-color: var(--themeColor);
    color: #FFFFFF;
    padding: .2em;
}

/* Articles */
#articles h2 {
    margin: 0px;
    background-color: var(--almostBlack);
    border-bottom: 1px solid var(--themeColor);
    color: #d3d3d3;
    font-weight: normal;
    padding: 20px;
    font-size: 32px;
}

#articles {
    background-color: var(--backgroundDark);
    padding-bottom: 1px;
    color: #DBE8D4;
}

#articles p {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
    margin: 20px;
    /* width: 95%; */
}

#articles h3 {
    color: var(--themeColor);
    /* color: rgb(33, 16, 80); */
    font-size: 32px;
    /* margin: 20px 0px 0px 30px; */
    font-weight: normal;
    /* width: 95%; */
}

/* About */
#v1 {
    border-left: 20px solid var(--themeColor);    
    /* border-left: 20px solid rgb(33, 16, 80);     */
    /* height: 102px; */
    padding: 9px;
    /* position: absolute; */
    margin-left: 0px;
}

/* Projects */
#projects {
    display: flex;
}

.card {
    margin: 20px;
    background-color: var(--almostBlack);
    width: 30%;
}

.cardTitle {
    color: var(--themeColor);
    font-size: 16px;
}

.cardText {
    font-size: 16px !important;
    margin: 0 0 10px 0 !important;
}

.myButton {
    background-color: var(--themeColor) !important;
    font-size: 16px;
}

/* Skills */
#skillsDiv {
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: #111111; */
    margin: 20px;
    padding: 10px;
    width: 80%;
    flex-flow: row wrap;

    /* justify-content:center; */
    /* align-items:center; */
}

#skillsDiv > span {
    /* display: inline-block; */
    /* text-align: center; */
    /* margin: 20px 10px 20px 20px; */
    flex: 1;
    text-align: center;
    margin: 10px;
}

.skillsIcon {
    font-size: 70px;
}

#skillsDiv > span > p {
    margin: 0;
    font-size: 24px;
}

.fa-html5 {
    color: #E34C26;
}

.fa-css3-alt {
    color: #1673B6;
}

.fa-js-square {
    color: #D4B830;
}

.fa-github {
    color: white;
}

.fa-bootstrap {
    color: #7C12F9;
}

/* Education */
#matc {
    background-color: var(--almostBlack);
    width: 500px;
    /* height: 200px; */
    margin: 20px;
    padding: 5px;
    /* box-shadow: 5px 5px 5px #B7B5B3; */
    border-radius: 5px;
    border-top: 5px solid var(--themeColor);
    border-left: 5px solid var(--themeColor);
}

#matc h3 {
    font-size: 24px;
    padding: 10px;
}

#matc p {
    font-size: 16px;
}

#matc li {
    font-size: 16px;
}

/* Contact */
#contactContent section {
    margin: 20px;
}

#contactContent section a {
    text-decoration: none;
}

.iconText{
    color: var(--themeColor);
    padding-bottom: 5px;
    border-bottom: 3px solid #dcdcdc;
    transition: border-color .25s linear;
}

.iconText:hover {
    border-bottom: 3px solid var(--themeColor);
}

.icon, .iconText {
    line-height: 30px;
    font-size: 16px;
    margin: 0 10px 0 0;
}

.icon {
    vertical-align: middle;
    font-size: 40px;
    color: var(--themeColor);
}

/* Resume */
#resumeContent section {
    margin: 20px;
}

#resumeContent section a {
    text-decoration: none;
}

/* Responsive sidebar */
#mainNav {
    position: fixed;
    /* background: #5e1a1a; */
    /* background-color: #211050; */
    background: var(--almostBlack);
    /* background-color: #21253b; */
    color: #d3d3d3;
    z-index: 1;
}
#mainNav a{
    text-decoration: none;
}

#mainNav ul {
    list-style-type: none;
    padding: 0;
}

.checkbtn {
    font-size: 2em;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.sidebar-header p {
    font-size: 16px;
}

.sidebar-header {
    padding: 20px;
}

.sidebar-header h3 {
    color: #FFFFFF;
    font-size: 32px;
}

#mainNav ul {
    border-bottom: 1px solid var(--themeColor);
}

#mainNav ul li a {
    padding: 10px;
    display: block;
    border-left: 0px solid white;
    transition: .25s linear;
    padding-left: 20px;
}

#mainNav ul li a:hover {
    border-left: 5px solid white;
    background-color: #8080802d;
    color: white;
}

#mainNav a {
    text-decoration: none;
    color: #B7B5B3;
}

#mainNav li>a {
    font-size: 16px;

}

#closeBtn {
    position: absolute;
    left: 200px;
    top: 320px;
    color: #B7B5B3;
    transition: .25s linear;
}

#closeBtn:hover {
    color: var(--myRed);
}

@media (min-width: 950px) {
    #mainNav {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }
}

@media (max-width: 950px) {
    :target::before {
        content: "";
        display: block;
        height: 100px; 
        margin: -100px 0 0; 
      }
    #mainNav {
        position: fixed;
        width: 100%;
        height: 100px;
        text-align: center;
        background-color: var(--almostBlack);
        border-bottom: 1px solid white
    }
    #mainNav h3 {
        font-size: 32px;
    }
    #mainNav p {
        font-size: 16px;
    }
    .sidebar-header {
        display: inline-block;
    }
    .checkbtn {
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
    }
    #mainNav ul {
        position: fixed;
        width: 250px;
        height: 100vh;
        background-color: var(--almostBlack);
        top: 0px;
        left: -100%;
        opacity: .96;
        text-align: center;
        transition: all .5s;
    }
    #mainNav li:last-child {
        border-bottom: 1px solid var(--themeColor);

    }
    #mainNav ul li a {
        display: block;
        padding: 15px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    main {
        margin: 100px 0 0 0;
    }
    @media (max-width: 700px) {
        #missionStatement img {
            width: 100%;
        }
        #articles h3 {
            font-size: 24px;
        }
        #projects {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .card {
            width: 90%;
            flex: 1;
            min-width: 215px;
        }
        #skillsDiv {
            margin: 20px auto;
            flex-direction: column;
        }
        #contactContent a {
            display: block;
        }
        #matc {
            min-width: 220px;
            width: 80%;
            margin: 20px auto;
        }
    }
}




