:root {
    --almostBlack: #111;
    /* --themeColor: #2941AB; */
    --themeColor: #044c6d;

    --myRed: #a50f0f;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/* Main */
main {
    margin: 0;
    padding: 0;
    margin-left: 250px;
    height: 100%;
}

/* Mission statement */
#missionStatement {
    background-color: #E5E7E6;
}

#missionStatement h2 {
    font-size: 2em;
    font-family: 'Heebo', Arial, sans-serif;
    font-weight: 700;
    padding: 70px;
    margin: 0;
}

#span1 {
    text-decoration: underline;
    text-decoration-color: var(--myRed);
}

#span2 {
    background-color: var(--myRed);
    color: #ffffff;
    padding: .2em;
}

/* Articles */
#articles h2 {
    margin: 0px;
    background-color: black;
    color: #d3d3d3;
    font-weight: normal;
    padding: 20px;
    font-size: 2.5em;
}

#articles {
    background-color: #E5E7E6;
    padding-bottom: 1px;
}

#articles p {
    font-size: 30px;
    font-weight: normal;
    margin: 20px 20px 20px 30px; 
    line-height: 1.4;
    width: 95%;
}

#articles h3 {
    color: var(--themeColor);
    /* color: rgb(33, 16, 80); */
    font-size: 2.3em;
    margin: 20px 0px 0px 30px;
    font-weight: normal;
    width: 95%;
}

/* About */
#v1 {
    border-left: 20px solid var(--themeColor);    
    /* border-left: 20px solid rgb(33, 16, 80);     */
    height: 100px;
    position: absolute;
    margin-left: 0px;
}

/* Projects */
#projects {
    display: flex;
}

.card {
    margin: 20px;
    box-shadow: 5px 5px 5px #B7B5B3;
}

.cardTitle {
    color: var(--themeColor);
}

.cardText {
    font-size: 1em !important;
    margin: 0 0 10px 0 !important;
}

.myButton {
    background-color: var(--themeColor) !important;
}

/* Skills */
#skillsContent > span {
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 20px;
}

.skillsIcon {
    font-size: 70px;
}

#skillsContent > span > p {
    margin: 0;
}

.fa-html5 {
    color: #E34C26;
}

.fa-css3-alt {
    color: #1673B6;
}

.fa-js-square {
    color: #D4B830;
}

.fa-github {
    color: #171515;
}

.fa-bootstrap {
    color: #7C12F9;
}

/* Education */
#matc {
    background-color: white;
    width: 600px;
    height: 200px;
    margin: 30px;
    padding: 5px;
    box-shadow: 5px 5px 5px #B7B5B3;
    border-radius: 5px;
    border-top: 5px solid var(--themeColor);
    border-left: 5px solid var(--themeColor);
}

#matc h3 {
    font-size: 25px;
}

#matc p {
    font-size: 20px;
}

#matc li {
    font-size: 20px;
}

/* Contact */
#contactContent section {
    margin: 20px;
}

#contactContent section a {
    text-decoration: none;
}

.iconText{
    color: var(--themeColor);
    padding-bottom: 5px;
    border-bottom: 3px solid #dcdcdc;
    transition: border-color .25s linear;
}

.iconText:hover {
    border-bottom: 3px solid var(--themeColor);
}

.icon, .iconText {
    line-height: 30px;
    font-size: 20px;
    margin: 0 10px 0 0;
}

.icon {
    vertical-align: middle;
    font-size: 50px;
    color: #141301;
}

/* Resume */
#resumeContent section {
    margin: 20px;
}

#resumeContent section a {
    text-decoration: none;
}

/* Responsive sidebar */
#mainNav {
    position: fixed;
    /* background: #5e1a1a; */
    /* background-color: #211050; */
    background: var(--almostBlack);
    /* background-color: #21253b; */
    color: #d3d3d3;
    z-index: 1;
}
#mainNav a{
    text-decoration: none;
}

#mainNav ul {
    list-style-type: none;
    padding: 0;
}

.checkbtn {
    font-size: 2em;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.sidebar-header {
    padding: 20px;
}

.sidebar-header h3 {
    color: #FFFFFF;
}

#mainNav ul {
    border-bottom: 1px solid var(--themeColor);
}

#mainNav ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-left: 0px solid white;
    transition: .25s linear;
    padding-left: 20px;
}

#mainNav ul li a:hover {
    border-left: 5px solid white;
    background-color: #8080802d;
    color: white;
}

#mainNav a {
    text-decoration: none;
    color: #B7B5B3;
}

#closeBtn {
    position: absolute;
    left: 200px;
    top: 320px;
    color: #B7B5B3;
    transition: .25s linear;
}

#closeBtn:hover {
    color: var(--myRed);
}

@media (min-width: 950px) {
    #mainNav {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        box-shadow: 5px 0px 5px black;
    }
}

@media (max-width: 950px) {
    :target::before {
        content: "";
        display: block;
        height: 100px; /* fixed header height*/
        margin: -100px 0 0; /* negative fixed header height */
      }
    #mainNav {
        position: fixed;
        width: 100%;
        height: 100px;
        text-align: center;
        background-color: #21253b;
        box-shadow: 0px 5px 5px black;
    }
    .sidebar-header {
        display: inline-block;
    }
    .checkbtn {
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
    }
    #mainNav ul {
        position: fixed;
        width: 250px;
        height: 100vh;
        background-color: var(--almostBlack);
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #mainNav li:last-child {
        border-bottom: 1px solid var(--themeColor);

    }
    #mainNav ul li a {
        display: block;
        padding: 15px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    main {
        margin: 100px 0 0 0;
    }
}




