html, body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Garamond', 'Arial Narrow', Arial, sans-serif;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    padding-top: 30px;
    padding-left: 10px;
    background-color: #111;
    color: #d3d3d3;
    font-family: 'Heebo', Arial, sans-serif;
    font-weight: 700;
    box-shadow: 5px 0px 10px black;
}

#sidebar > h1 {
    font-size: 2em;
}

#sidebar > a {
    text-decoration: none;
    color: #d3d3d3;
}

#sidebar > h2 {
    font-size: 1.2em;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar ul li{
    list-style-type: none;
    margin: 20px;
}

#sidebar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: lightgray;
}

#sidebar a:hover {
    color: white;
}

main {
    margin: 0;
    padding: 0;
    margin-left: 250px;
    height: 100%;
}

#missionStatement {
    background: url("images/SkyCity.jpg") no-repeat;
    background-size: 100%;  
    height: 300px;
}

#missionStatement h2 {
    font-size: 2em;
    font-family: 'Heebo', Arial, sans-serif;
    font-weight: 700;
    padding: 70px;
    margin: 0;
}

#span1 {
    text-decoration: underline;
    text-decoration-color: #f20000;
}

#span2 {
    background-color: #f20000;
    padding: .2em;
}

#articles h2 {
    margin: 0px;
    background-color: black;
    color: #d3d3d3;
    font-weight: normal;
    padding: 20px;
    font-size: 2.5em;
}

#articles {
    background-color:#dcdcdc;
    padding-bottom: 1px;
}

#articles p {
    font-size: 30px;
    font-weight: normal;
    margin: 20px 20px 20px 30px; 
    line-height: 1.4;
    width: 95%;
}

#articles h3 {
    color: #2f4f4f;
    font-size: 2.3em;
    margin: 20px 0px 0px 30px;
    font-weight: normal;
    width: 95%;
}

/* Continue reviewing CSS here */

#v1 {
    border-left: 20px solid darkslategrey;
    height: 100px;
    position: absolute;
    margin-left: 0px;
}

span {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.skillsIcon {
    font-size: 70px;
    color: #26013B;
}

#matc {
    background-color: white;
    width: 600px;
    height: 200px;
    margin: 30px;
    padding: 5px;
    box-shadow: 5px 5px 5px darkgray;
    border-top: 5px solid darkslategrey;
    border-left: 5px solid darkslategrey;
}

#matc h3 {
    font-size: 25px;
}

#matc p {
    font-size: 20px;
}

#matc li {
    font-size: 20px;
}

#contactContent section {
    margin: 20px;
    font-family: 'Garamond', 'Arial Narrow', Arial, sans-serif;
}

#contactContent section a {
    text-decoration: none;
}

.iconText{
    text-decoration: none;
    color: darkslategray;
    border-bottom: 3px solid gainsboro;
    transition: border-color .25s linear;
}

.iconText:hover {
    border-bottom: 3px solid darkslategray;
}

.icon, .iconText {
    line-height: 30px;
    font-size: 20px;
    margin: 0 10px 0 0;
}

.icon {
    vertical-align: middle;
    font-size: 50px;
    color: #493327;
}

#resumeContent section {
    margin: 20px;
}

#resumeContent section a {
    text-decoration: none;
}